# -------- Python --------
__pycache__/
*.pyc
*.pyo

# -------- Virtual Environment --------
.venv/
venv/
env/

# -------- Flask --------
instance/

# -------- Environment Variables --------
.env

# -------- Database --------
*.db
*.sqlite3

# -------- IDE --------
.vscode/
